In [9]:
#Importing Data 

import pandas as pd

desc = pd.read_csv(r"C:\Users\shima\Downloads\MovieGenerDataset\Genre Classification Dataset\description.txt" , delimiter='\t' , header = None )

display(desc)

                                                   0
0                                        Train data:
1             ID ::: TITLE ::: GENRE ::: DESCRIPTION
2             ID ::: TITLE ::: GENRE ::: DESCRIPTION
3             ID ::: TITLE ::: GENRE ::: DESCRIPTION
4             ID ::: TITLE ::: GENRE ::: DESCRIPTION
5                                         Test data:
6                       ID ::: TITLE ::: DESCRIPTION
7                       ID ::: TITLE ::: DESCRIPTION
8                       ID ::: TITLE ::: DESCRIPTION
9                       ID ::: TITLE ::: DESCRIPTION
10                                           Source:
11  ftp://ftp.fu-berlin.de/pub/misc/movies/database/

In [15]:
import re

file_path = r"C:\Users\shima\Downloads\MovieGenerDataset\Genre Classification Dataset\train_data.txt"

# Read lines that contain the separator ':::' (skip section headers like "Train data:")
with open(file_path, encoding=enc) as fh:
	raw_lines = [ln.strip() for ln in fh if ':::' in ln and ln.strip()]

# Split lines on ' ::: ' (allow surrounding whitespace)
rows = [[p.strip() for p in re.split(r'\s*:::\s*', ln)] for ln in raw_lines]

# If the first row is a header (starts with ID), use it as column names
if rows and rows[0][0].strip().lower().startswith('id'):
	header = rows[0]
	rows = rows[1:]
	train_df = pd.DataFrame(rows, columns=header)
else:
	# Generic handling: pad rows to equal length and create generic column names
	max_cols = max((len(r) for r in rows), default=0)
	col_names = [f"col_{i}" for i in range(max_cols)]
	padded = [r + [''] * (max_cols - len(r)) for r in rows]
	train_df = pd.DataFrame(padded, columns=col_names)

display(train_df)

,col_0,col_1,col_2,col_3
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...
...,...,...,...,...
54209,54210,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on B...
54210,54211,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The siste...
54211,54212,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about gr..."
54212,54213,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and have...
54213,54214,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense h..."