In [14]:
# CREDIT CARD FRAUD DETECTION

'''
Build a model to detect fraudulent credit card transactions. Use a
dataset containing information about credit card transactions, and
experiment with algorithms like Logistic Regression, Decision Trees,
or Random Forests to classify transactions as fraudulent or
legitimate.
'''

#Importing Train Data

import pandas as pd

train_df = pd.read_csv(r"C:\Users\shima\Downloads\Compressed\archive_3\fraudTrain.csv")
test_df = pd.read_csv(r"C:\Users\shima\Downloads\Compressed\archive_3\fraudTest.csv")
print("The train data is :-\n")
display(train_df)
print("The test data is :\n")
display(test_df)
train_df.info()

The train data is :-

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

The test data is :

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [15]:
# Dropping unnecessary columns of the data frame
import pandas as pd

train_df.drop(["Unnamed: 0", 'cc_num', 'first', 'last', 'street', 'trans_num', 'dob', 'trans_date_trans_time'], axis=1, inplace=True)
test_df.drop(["Unnamed: 0", 'cc_num', 'first', 'last', 'street', 'trans_num', 'dob', 'trans_date_trans_time'], axis=1, inplace=True)
display(train_df)
display(test_df)

,merchant,category,amt,gender,city,state,zip,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud
0,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1325376018,36.011293,-82.048315,0
1,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1325376044,49.159047,-118.186462,0
2,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1325376051,43.150704,-112.154481,0
3,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1325376076,47.034331,-112.561071,0
4,fraud_Keeling-Crist,misc_pos,41.96,M,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,fraud_Reichel Inc,entertainment,15.56,M,Hatch,UT,84735,37.7175,-112.4777,258,Geoscientist,1371816728,36.841266,-111.690765,0
1296671,fraud_Abernathy and Sons,food_dining,51.70,M,Tuscarora,MD,21790,39.2667,-77.5101,100,"Production assistant, television",1371816739,38.906881,-78.246528,0
1296672,fraud_Stiedemann Ltd,food_dining,105.93,M,High Rolls Mountain Park,NM,88325,32.9396,-105.8189,899,Naval architect,1371816752,33.619513,-105.130529,0
1296673,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,M,Manderson,SD,57756,43.3526,-102.5411,1126,Volunteer coordinator,1371816816,42.788940,-103.241160,0
1296674,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,M,Sula,MT,59871,45.8433,-113.8748,218,"Therapist, horticultural",1371816817,46.565983,-114.186110,0

,merchant,category,amt,gender,city,state,zip,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud
0,fraud_Kirlin and Sons,personal_care,2.86,M,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1371816865,33.986391,-81.200714,0
1,fraud_Sporer-Keebler,personal_care,29.84,F,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1371816873,39.450498,-109.960431,0
2,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,F,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1371816893,40.495810,-74.196111,0
3,fraud_Haley Group,misc_pos,60.05,M,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1371816915,28.812398,-80.883061,0
4,fraud_Johnston-Casper,travel,3.19,M,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,fraud_Reilly and Sons,health_fitness,43.77,M,Luray,MO,63453,40.4931,-91.8912,519,Town planner,1388534347,39.946837,-91.333331,0
555715,fraud_Hoppe-Parisian,kids_pets,111.84,M,Lake Jackson,TX,77566,29.0393,-95.4401,28739,Futures trader,1388534349,29.661049,-96.186633,0
555716,fraud_Rau-Robel,kids_pets,86.88,F,Burbank,WA,99323,46.1966,-118.9017,3684,Musician,1388534355,46.658340,-119.715054,0
555717,fraud_Breitenberg LLC,travel,7.99,M,Mesa,ID,83643,44.6255,-116.4493,129,Cartographer,1388534364,44.470525,-117.080888,0
555718,fraud_Dare-Marvin,entertainment,38.13,M,Edmond,OK,73034,35.6665,-97.4798,116001,Media buyer,1388534374,36.210097,-97.036372,0

In [16]:
# Spliting & Encoding with Target Encoder

import category_encoders as ce

X_train = train_df.drop(['is_fraud'] , axis = 1)
y_train= train_df['is_fraud']

X_test = test_df.drop(['is_fraud'] , axis = 1)
y_test = test_df['is_fraud']

#Applying Target Encoding

target_cols = ['merchant', 'city', 'job']
encoded = ce.TargetEncoder(cols=target_cols, smoothing=0.2)
encoded.fit(X_train, y_train)

X_train_encoded = encoded.transform(X_train)
X_test_encoded = encoded.transform(X_test)


print("Training Encoded Data :\n")
display(X_train_encoded.head(3))
print("Test Encoded Data : \n")
display(X_test_encoded.head(3))

Training Encoded Data :

,merchant,category,amt,gender,city,state,zip,lat,long,city_pop,job,unix_time,merch_lat,merch_long
0,0.014207,misc_net,4.97,F,0.0,NC,28654,36.0788,-81.1781,3495,0.001693,1325376018,36.011293,-82.048315
1,0.010787,grocery_pos,107.23,F,0.0,WA,99160,48.8878,-118.2105,149,0.002157,1325376044,49.159047,-118.186462
2,0.002111,entertainment,220.11,M,0.0,ID,83252,42.1808,-112.2620,4154,0.015656,1325376051,43.150704,-112.154481

Test Encoded Data :

,merchant,category,amt,gender,city,state,zip,lat,long,city_pop,job,unix_time,merch_lat,merch_long
0,0.001101,personal_care,2.86,M,0.007687,SC,29209,33.9659,-80.9355,333497,0.008700,1371816865,33.986391,-81.200714
1,0.002740,personal_care,29.84,F,0.006702,UT,84002,40.3207,-110.4360,302,0.006888,1371816873,39.450498,-109.960431
2,0.001166,health_fitness,41.28,F,0.002716,NY,11710,40.6729,-73.5365,34496,0.002910,1371816893,40.495810,-74.196111

In [17]:
#Enoding with One Hot Encoder

ohe_cols = ['category', 'gender', 'state']
X_train_ohe = pd.get_dummies(X_train_encoded[ohe_cols], drop_first=True)
X_test_ohe = pd.get_dummies(X_test_encoded[ohe_cols], drop_first=True)

# Aligning the columns
X_train_ohe, X_test_ohe = X_train_ohe.align(X_test_ohe, join='left', axis=1, fill_value=0)

In [13]:
# Combine categorical + target encoded + numerical
target_cols = ['merchant', 'city', 'job']
num_cols = ['amt', 'zip', 'lat', 'long', 'city_pop', 'unix_time', 'merch_lat', 'merch_long']

X_train_encodor = pd.concat([X_train_encoded[num_cols].reset_index(drop=True), X_train_encoded[target_cols].reset_index(drop=True), X_train_ohe.reset_index(drop=True)], axis=1)

X_test_encodor = pd.concat([X_test_encoded[num_cols].reset_index(drop=True), X_test_encoded[target_cols].reset_index(drop=True), X_test_ohe.reset_index(drop=True)], axis=1)

In [18]:
#Standarisation of the data

from sklearn.preprocessing import StandardScaler

Sd = StandardScaler()


X_train_encodor[num_cols] = Sd.fit_transform(X_train_encodor[num_cols])
X_test_encodor[num_cols] = Sd.transform(X_test_encodor[num_cols])

print("Scaled Inputs of Training Data :- \n")
display(X_train_encodor.head(3))

print("scaled Input data of Test Data :- \n")
display(X_test_encodor.head(3))

Scaled Inputs of Training Data :-

,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,merchant,city,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
0,-0.407826,-0.749136,-0.484420,0.657620,-0.282589,-1.858664,-0.494354,0.593864,0.014207,0.0,...,False,False,False,False,False,False,False,False,False,False
1,0.230039,1.872567,2.039120,-2.033870,-0.293670,-1.858662,2.078699,-2.030341,0.010787,0.0,...,False,False,False,False,False,False,True,False,False,False
2,0.934149,1.281042,0.717754,-1.601537,-0.280406,-1.858662,0.902849,-1.592323,0.002111,0.0,...,False,False,False,False,False,False,False,False,False,False

scaled Input data of Test Data :-

,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,merchant,city,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
0,-0.420988,-0.728499,-0.900689,0.675252,0.810291,1.757865,-0.890634,0.655413,0.001101,0.007687,...,False,False,False,False,False,False,False,False,False,False
1,-0.252695,1.308930,0.351290,-1.468825,-0.293163,1.757866,0.178708,-1.433000,0.002740,0.006702,...,False,False,False,True,False,False,False,False,False,False
2,-0.181336,-1.379183,0.420678,1.213006,-0.179922,1.757867,0.383279,1.164059,0.001166,0.002716,...,False,False,False,False,False,False,False,False,False,False

In [19]:
#Implementing Logistic Regression 

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score , precision_score ,confusion_matrix , f1_score , recall_score

le = LogisticRegression(max_iter=1000, class_weight='balanced')

le.fit(X_train_encodor , y_train)

y_predict = le.predict(X_test_encodor)

Accuracy = accuracy_score(y_test , y_predict)
Precision = precision_score(y_test, y_predict)
confusion = confusion_matrix(y_test , y_predict)
f1 = f1_score(y_test , y_predict)
recall = recall_score(y_test , y_predict)

print(f"Accuracy of the model is : {Accuracy * 100:.2f}% ")  
print("Precision of the model is : ",Precision)
print("Confusion Matrix of the model is :\n" , confusion)
print("\nF1 Score of the model is :",f1)          #ideal >0.70
print("Recall Score of the model is :" , recall)  #Recall Ideal if  > 0.75

Accuracy of the model is : 93.51%
Precision of the model is :  0.0411433521004764
Confusion Matrix of the model is :
 [[518150  35424]
 [   625   1520]]

F1 Score of the model is : 0.07777123999079025
Recall Score of the model is : 0.7086247086247086

In [10]:
from sklearn.ensemble import RandomForestClassifier

Random = RandomForestClassifier( n_estimators=100, n_jobs=-1,class_weight='balanced',random_state=42)

Random.fit(X_train_encodor , y_train)
y_predict = Random.predict(X_test_encodor)

Accuracy = accuracy_score(y_test , y_predict)
Precision = precision_score(y_test, y_predict)
confusion = confusion_matrix(y_test , y_predict)
f1 = f1_score(y_test , y_predict)
recall = recall_score(y_test , y_predict)

print(f"Accuracy of the model is : {Accuracy * 100:.2f}% ")  
print("Precision of the model is : ",Precision)
print("Confusion Matrix of the model is :\n" , confusion)
print("\nF1 Score of the model is :",f1)          #ideal >0.70
print("Recall Score of the model is :" , recall)  #Recall Ideal if  > 0.75

Accuracy of the model is : 99.63%
Precision of the model is :  0.7404580152671756
Confusion Matrix of the model is :
 [[553540     34]
 [  2048     97]]

F1 Score of the model is : 0.0852372583479789
Recall Score of the model is : 0.04522144522144522

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, f1_score, recall_score

DT = DecisionTreeClassifier(class_weight='balanced',random_state=42)

DT.fit(X_train_encodor, y_train)

y_predict = DT.predict(X_test_encodor)

Accuracy = accuracy_score(y_test, y_predict)
Precision = precision_score(y_test, y_predict)
confusion = confusion_matrix(y_test, y_predict)
f1 = f1_score(y_test, y_predict)
recall = recall_score(y_test, y_predict)

print(f"Accuracy of the model is : {Accuracy * 100:.2f}% ")
print("Precision of the model is : ", Precision)
print("Confusion Matrix of the model is :\n", confusion)
print("\nF1 Score of the model is :", f1)
print("Recall Score of the model is :", recall)

Accuracy of the model is : 99.54%
Precision of the model is :  0.16612903225806452
Confusion Matrix of the model is :
 [[553057    517]
 [  2042    103]]

F1 Score of the model is : 0.07450271247739602
Recall Score of the model is : 0.04801864801864802

In [12]:
'''

I built a model to detect fraudulent credit card transactions using Logistic Regression,
Decision Tree, and Random Forest. After comparing all models based on accuracy, precision,
recall, and F1 score, I found that Logistic Regression performs better for fraud detection 
because it gives the highest recall, meaning it is able to catch more fraud cases even though
the precision is lower. Hence, Logistic Regression is the best suited model for this task.
   
   '''

'\n\nI built a model to detect fraudulent credit card transactions using Logistic Regression,\nDecision Tree, and Random Forest. After comparing all models based on accuracy, precision,\nrecall, and F1 score, I found that Logistic Regression performs better for fraud detection \nbecause it gives the highest recall, meaning it is able to catch more fraud cases even though\nthe precision is lower. Hence, Logistic Regression is the best suited model for this task.\n   \n   '